{% extends 'accounts/base.html' %}
{% load static %}
{% block content %}
    <style>
        .profile-pic {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }

    </style>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <a class="btn btn-warning" href="{% url 'home' %}">&#8592; Back to Profile</a>
                <hr>
                <h3 style="text-align: center">Account Settings</h3>
                <hr>
                <img src="{{ request.user.customer.profile_pic.url }}" alt="profile-picture" class="profile-pic">
            </div>
        </div>
        <div class="col-md-9">
            <div class="card card-body">
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="submit" class="btn btn-primary" value="Update Information">
                </form>
            </div>
        </div>
    </div>
{% endblock %}