{% autoescape off %}
Hello {{ user.get_username }},

We received a request to reset the password for your Shop Sasa account.

To reset your password, click the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If you didn’t request a password reset, please ignore this email. Your account will remain secure.

For security reasons, this link will expire after a short period.

If you have any questions or need help, feel free to contact our support team.

You can also reach us at +254-7123-456-789.


Thank you,
The Shop Sasa Team
{% endautoescape %}

